*{
    font-family: 'Montserrat', sans-serif;
}

main{
    margin: 0 auto;
    padding: 0 auto;
    width: 100%;
    overflow-x: hidden;
}

/*-------------Main-----------*/

.bg-main{
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    background-image: url('../../images/estrutural.png');
    height: 550px;
    z-index: 1;
}

.bg-content{
    display: block;
    position: relative;
    z-index: 99;
    padding: 1.5rem;
    top: 8rem;
    left: 2rem;
    color: var(--color-primary);
    text-align: justify;
}

.bg-content span{
    color: var(--color-primary);
    font-size: large;
    font-weight: 700;
}

.bg-content h2{
    margin-bottom: 2rem;  
    font-weight: 900;
    color: #455A64;
}

.bg-content h6{
    margin-top: 4rem;
    color: #403C3C;
    font-weight: 400;
    font-size: larger;
}

.button-wpp{
    margin-top: 4rem;
    background: #27B43E;
    opacity: 0.9;
    padding: 1rem 1.5rem;
    text-align: center;
    border-radius: 10px;
    width: 20rem;
    cursor: pointer;
}

.button-wpp a{
    color: white;
    font-size: larger;
    font-weight: 700;
}

.button-wpp a:link{
    text-decoration: none;
}

.button-wpp:hover{
    opacity: 1;
}

/*-------------REFORÇO-----------*/

.reforco{
    margin-left: 4rem;
    margin-right: 4rem;
}

.reforco h2{
    margin-top: 4rem;
    margin-bottom: 3rem;  
    font-weight: 900;
    color: #455A64;
}

.reforco p{
    text-align: justify;
    line-height: 1.8;

}

.reforco-content{
    display: flex;
}

.reforco-content span{
    color: var(--color-primary);
    font-size: large;
    font-weight: 700;
}

.reforco-content p{
    text-align: justify;
    margin-left: 2rem;
    line-height: 1.8;
}

.img-diagnostica{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 auto;
}

.img-diagnostica img{
    width: 525;
    height: 370px;
}

.container-estrutural{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

/*-------------COMO FUNCIONA----------*/

.comoFunciona{
    line-height: 1.8;
}

.comoFunciona h2{
    margin-top: 4rem; 
    font-weight: 900;
    color: #455A64;
    text-align: center;
}

.etapa-1{
    display: flex;
    padding: 3rem 3rem 3rem 3rem;
}

.etapa-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2rem;
    text-align: justify;
    color: #403C3C;
}

.etapa-content h4{
    margin-top: -2rem;
    margin-bottom: 3rem;
}

.etapa-content2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 2rem;
    text-align: justify;
    color: #403C3C;
}

.etapa-content2 h4{
    margin-top: -2rem;
    margin-bottom: 3rem;
}

.separador{
    height: 5px;
    width: 960px;
    background-color: #455A64;
}

.separador2{
    height: 5px;
    width: 960px;
    background-color: #455A64;
    margin-left: auto;
}

.orcamento{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.button-orcamento{
    background: #455A64;
    opacity: 0.95;
    padding: 1rem 1.5rem;
    text-align: center;
    border-radius: 10px;
    width: 20rem;
    cursor: pointer;
    color: white;
}

.button-orcamento a{
    font-size: larger;
    font-weight: 700;
    color: white;
}

.button-orcamento a:link{
    text-decoration: none;
}

.button-orcamento:hover{
    opacity: 1;
}

.numeros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #455A64;
    width: 100%;
    height: 400px;
    color: white;
}

.numeros h2{
    font-weight: 900;
    color: white;
    text-align: center;
}

.numeros-content{
    display: flex;
    justify-content: space-between;
    padding: 3rem;
}

.card-numeros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-numeros h3{
    font-weight: 800;
    font-size: xx-large;
}

/*-------------PROJETOS-----------*/

.projetos{
    padding: 3rem;
}

.container-projetos{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.projetos h2{
    font-weight: 900;
    color:#455A64; 
    margin-bottom: 2rem;
}

.projetos p{
    line-height: 1.8;
    text-align: justify;
}

/*-------------ORCAMENTO-----------*/

.valor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #455A64;
    width: 100%;
    height: 300px;
}

.valor h3{
    font-weight: 900;
    color:white; 
    margin-bottom: 2rem;
    text-align: center;
}

.button-orcamento-white{
    background: white;
    opacity: 0.95;
    padding: 1rem 1.5rem;
    text-align: center;
    border-radius: 10px;
    width: 20rem;
    cursor: pointer;
    color: #455A64;
}

.button-orcamento-white a{
    font-size: larger;
    font-weight: 700;
    color: #455A64;
}

.button-orcamento-white a:link{
    text-decoration: none;
    color: #455A64;
}

.button-orcamento-white:hover{
    opacity: 1;
}

/*-------------SEECON E ABECE-----------*/

.seecon{
    display: flex;
    margin-top: 3rem;
}

.content-seecon{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-seecon h4{
    font-weight: 900;
    color: #455A64;
    text-align: center;
}

.abece{
    margin-left: 4rem;
}

/*-------------CLIENTES-----------*/

.container-cliente{
    display: flex;
    justify-content: center;
    margin-left: 3rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.clientes h2{
    margin-bottom: 1rem;  
    margin-top: 2rem;
    font-weight: 900;
    color: #455A64;
    text-align: center;
}

.clientes-item{
    border: 1px solid #9C9FA1;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-left: 3rem;
    margin-right: 3rem;
    width: 70rem;
    padding: 1rem 2rem;
}

.clientes-cabecalho{
    display: flex;
    margin-bottom: 1rem;
}

.clientes-cabecalho span{
    color: #455A64;
    font-size: large;
    font-weight: 700;
}

.clientes-infos{
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.cliente-avaliacao{
    color: #403C3C;
    text-align: justify;
    margin: 0 auto;
}

.stars{
    margin-top: -1rem;
}

