*{
    font-family: 'Montserrat', sans-serif;
}

main{
    margin: 0 auto;
    padding: 0 auto;
    width: 100%;
}

/*-------------Main-----------*/

.bg-blue-main{
    display: flex;
    margin-top: 8rem;
    background-color: #ECF1F3;
    height: 400px;
    z-index: 1;
}

.bg-content{
    display: block;
    position: relative;
    z-index: 99;
    padding: 1.5rem;
    top: 2rem;
    left: 2rem;
    color: var(--color-primary);
    text-align: justify;
}

.bg-content span{
    color: var(--color-primary);
    font-size: large;
    font-weight: 700;
}

.bg-content h2{
    margin-bottom: 2rem;  
    font-weight: 900;
    color: #455A64;
}

.button-wpp{
    background: #27B43E;
    opacity: 0.7;
    padding: 1rem 1.5rem;
    margin-top: 1.5rem;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    width: 40%;
}

.button-wpp a{
    color: white;
    font-size: larger;
    font-weight: 700;
}

.button-wpp a:link{
    text-decoration: none;
}

.button-wpp:hover{
    opacity: 1;
}

.img-diagnostica{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 auto;
}

.img-diagnostica img{
    width: 400px;
    height: 300px;
}

/*-------------PROJETOS-----------*/

.projeto h2{
    margin-bottom: 3rem;  
    margin-top: 2rem;
    font-weight: 900;
    color: #455A64;
    text-align: center;
}

.projeto-imgs{
    margin: 0 auto;
    width: max-content;
    display: flex;
    justify-content: space-around;
}

.projeto-imgs img{
    display: block;
    width: 45%;
}

.projeto-imgs img:hover{
    transform-style: preserve-3d;
	transform: scale(1.05);
	transition: all ease 0.3s;
}

.projeto p{
    text-align: justify;
    padding: 3rem;
}

/*-------------EXECUÇÃO-----------*/

.execução h2{
    margin-bottom: 3rem;  
    margin-top: 1rem;
    font-weight: 900;
    color: #455A64;
    text-align: center;
}

.execução-imgs{
    margin: 0 auto;
    width: max-content;
    display: flex;
    justify-content: space-around;
}

.execução-imgs img{
    display: block;
    width: 45%;
}

.execução-imgs img:hover{
    transform-style: preserve-3d;
	transform: scale(1.05);
	transition: all ease 0.3s;
}

.execução p{
    text-align: justify;
    padding: 3rem;
}

/*-------------RECUPERAÇÃO-----------*/

.recuperação h2{
    margin-bottom: 3rem;  
    margin-top: 1rem;
    font-weight: 900;
    color: #455A64;
    text-align: center;
}

.recuperação-imgs{
    margin: 0 auto;
    width: max-content;
    display: flex;
    justify-content: space-between;
}

.recuperação-imgs img{
    display: block;
    width: 30%;
}

.recuperação p{
    text-align: justify;
    padding: 3rem;
}

.recuperação img:hover{
    transform-style: preserve-3d;
	transform: scale(1.05);
	transition: all ease 0.3s;
}

/*-------------CLIENTES-----------*/

.container-cliente{
    display: flex;
    justify-content: center;
    margin-left: 3rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.clientes h2{
    margin-bottom: 1rem;  
    margin-top: 1rem;
    font-weight: 900;
    color: #455A64;
    text-align: center;
}

.clientes-item{
    border: 1px solid #9C9FA1;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-left: 3rem;
    margin-right: 3rem;
    width: 70rem;
    padding: 1rem 2rem;
}

.clientes-cabecalho{
    display: flex;
    margin-bottom: 1rem;
}

.clientes-cabecalho span{
    color: #455A64;
    font-size: large;
    font-weight: 700;
}

.clientes-infos{
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.cliente-avaliacao{
    color: #403C3C;
    text-align: justify;
    margin: 0 auto;
}

.stars{
    margin-top: -1rem;
}


/*-------------Form-----------*/

.main-form{
    z-index: 999;
}

.main-form h2{
    margin: 0 auto;
    text-align: center;
    font-weight: 900;
    color: #455A64;
    margin-bottom: 2rem;
}

.main-form-content{
    display: flex;
}

.form{
    width: 60%;
    display: block;
    margin-top: 2rem;
    margin-left: 10rem;
    padding: 2rem;
    background: #FFFFFF;
    border: 2px solid #CACDCF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    margin-bottom: 2rem;
}

.form h6{
    text-align: center;
    font-size: larger;
    font-weight: 700;
    color: #455A64;
}

.form-infos h5{
    display: block;
    max-width: 612px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.msg input{
    height: 6rem;
}

.button-send{
    margin-top: 1rem;
}

.button-send a{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #455A64;
    color: white;
    font-size: large;
    font-weight: 700;
    padding: 1rem;
    border-radius: 10px;
}

.button-send a:link{
    text-decoration: none;
}

/*-------------Form-infos-----------*/

.form-infos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-infos span{
    text-align: center;
    color: white;
}

.estrutural{
    padding: 1rem;
    width: 310px;
    height: 450px;
}

.button-wpp{
    background: #27B43E;
    opacity: 0.7;
    padding: 1rem 1.5rem;
    margin-top: 1rem;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    width: max-content;
}

.button-wpp a:link{
    text-decoration: none;
}

.button-wpp:hover{
    opacity: 1;
}

.container-form-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-wpp a{
    color: white;
    font-size: larger;
    font-weight: 700;
}

.bg-blue{
    height: 300px;
    width: 100%;
    background: #455A64;
    margin-top: -18rem;
}